= render "devise/shared/header"

.container
  .signup-panel
    %p.signup-panel__title 電話番号の確認
    = form_with model: @user, url: user_tel_verification_signup_index_path, builder: WithErrorFormBuilder, local: true do |f|
      .signup-form
        %ul.caution
          %p.caution__title【注意】
          %li.__list 入力しなくても、会員登録できます
          %li.__list 携帯電話番号を入力すると、<u>本当にSMSが送信されます</u>
        .field
          = f.label :telephone, "携帯電話の番号(ハイフン不要)"
          = f.telephone_field :telephone, class: "field__input", placeholder: "携帯電話の番号を入力"
          %p.form-info
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

      .sign-up-btn
        = f.submit "次へ進む"
  
        %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

= render "shared/footer"